<?xml version="1.0" encoding="utf-8"?>
 <configuration>
 <system.webServer>
    <handlers>
        <add name="zipfileapp"
            path="*"
            verb="*"
            modules="FastCgiModule"
            scriptProcessor="C:\Program Files\Python\Python.exe|D:\ASP.NET\Project\ZIPFILES_PYTHON\wfastcgi.py"
            resourceType="Unspecified"
            requireAccess="Script" />
    </handlers>
    
</system.webServer>
<appSettings>
    <!-- Required settings -->
        <add key="WSGI_HANDLER" value="app.app" />
        <add key="PYTHONPATH" value="D:\ASP.NET\Project\ZIPFILES_PYTHON;C:\Python\python310.zip;C:\Python\DLLs;C:\Python\lib;C:\Python;D:\ASP.NET\Project\ZIPFILES_PYTHON\env;D:\ASP.NET\Project\ZIPFILES_PYTHON\env\lib\site-packages" />

    
</appSettings>
</configuration>

